DEPLOYMENT_NAME=scancentral
VM_HOSTNAME=scancentral
NAMESPACE=fortify
DOMAIN_SUFFIX=com
EXTERNAL_FQDN=ssc.fortify.com
LIM_HOSTNAME=lim.fortify.com
SAST_HOSTNAME=sast.fortify.com
DAST_HOSTNAME=dast.fortify.com
EXTERNAL_IP=192.0.2.10
SSC_NODEPORT=30291
DAST_NODEPORT=32085
STORAGE_CLASS=openebs-hostpath
MSSQL_IMAGE=mcr.microsoft.com/mssql/server:2022-latest
DATABASE_HOST=192.0.2.10
FORTIFY_LICENSE_PATH=/opt/fortify-deploy/config/license/fortify.license
CERTIFICATE_MODE=self-signed
VERSION_POLICY=validated
